{% extends 'profiles/header.html' %}
{% block content %}
  {% if was_logged %}
  <center><h1>Thanks for logging in!</h1></center>
  <meta http-equiv="refresh" content="0; url=/board/" />
  {% else %}
  {% if failed %}
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      You've not been logged in.
    </div>
  </div>
  {% else %}
  <form action="{% url 'profiles:loginUser' %}" method="POST">
    <div class="container" id="toPost">
      {% csrf_token %}
      <input class="form-control" type="text" name="username" id="username" placeholder="Username">
      <input class="form-control" type="password" name="password" id="password" placeholder="Password">
      <input class="btn" type="submit" value="Login">
    </div>
  </form>
  {% endif %}
  {% endif %}
{% endblock %}
