{% extends 'profiles/header.html' %}
{% block content %}
<div style="width:40%;" class="container">
  <div class="panel panel-default">
  <div class="panel-heading">Member's List</div>
  <table class=table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Posts</th>
              <th>Joined</th>
          </tr>
      </thead>
      <tbody>
        {% for User in members %}
            <tr>
                <td>{{forloop.counter}}
                <td><a href="/members/{{User}}">{{User}}</a></td>
                <td>{{User.count}}</td>
                <td>{{User.created_at|date:'M d, Y'}}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
