{% extends 'profiles/header.html' %}
{% block content %}
  {% if was_posted %}
  <h3><a href="/board/">Don't see your post? Click me!</a></h3>
  <meta http-equiv="refresh" content="0;url=/board/">
  {% else %}
  <script>
  function empty() {
    if(document.getElementById("title").value == "") {
      alert("You need to set a title!");
      return false;
    }
    if(document.getElementById("logs").value =="") {
      alert("Post logs, please.");
      return false;
    }
  }
  </script>
  <form action="{% url 'profiles:postText' %}" method="POST">
    <div class="container" id="toPost">
      {% csrf_token %}
      <input class="form-control" type="text" name="title" id="title" placeholder="Post Title..">
      <textarea class="form-control" rows="8" cols="100" name="body" id="body" placeholder="Context"></textarea>
      <textarea class="form-control" rows="8" cols="50" name="logs" id="logs" placeholder="Chat Logs"></textarea>
      <input class="form-control" type="text" name="author" id="author" readonly value="{{name}}">
      <input class="btn" onClick="return empty()" type="submit" value="Post">
    </div>
  </form>
  {% endif %}
</body>
{% endblock %}
