{% extends 'profiles/header.html' %}
{% block content %}
  {% if was_posted %}
  <h3><a href="/board/">Don't see your post? Click me!</a></h3>
  <meta http-equiv="refresh" content="0;url=/board/">
  {% else %}
  <script>
  function empty() {
      var x;
      x = document.getElementById("img");
      if (x.value == "") {
        x.className = "no-input";
      }
      if(document.getElementById("logs").value == "") {
        document.getElementById("logs").className = "no-input";
      }
      if(document.getElementById("title").value == "") {
        alert("You need to set a title!");
        return false;
      }
  }
  </script>
  <form action="/board/post/img/" method="POST">
    <div class="container" id="toPost">
      {% csrf_token %}
      <input class="form-control" type="text" name="title" id="title" placeholder="Post Title..">
      <textarea class="form-control" rows="8" cols="100" name="body" id="body" placeholder="Body.."></textarea>
      <input class="form-control collapse extra" type="text" name="img" id="img" placeholder="Image url">
      <textarea class="form-control collapse extra" ros="8" cols="100" type="text" name ="logs" id="logs" placeholder="For Chat logs, code, etc."></textarea>
      <input class="form-control" type="text" name="author" id="author" readonly value="{{name}}">
      <input class="btn btn-success" type="button" data-toggle="collapse" data-target=".extra" value="Extras">
      <input class="btn btn-primary" onClick="return empty()" type="submit" value="Post">
    </div>
  </form>
  {% endif %}
{% endblock %}
