{% extends 'profiles/header.html' %}
{% block content %}
  {% if was_registered %}
  <center><h1>You may now login.</h1></center>
  <meta http-equiv="refresh" content="0; url=/board/login/" />
  {% else %}
  {% if failed %}
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Your account was not made. It is possible the email or name is already taken.
    </div>
  </div>
  {% else %}
  <form action="{% url 'profiles:registerUser' %}" method="POST">
    <div class="container" id="toPost">
      {% csrf_token %}
      <input class="form-control" type="text" name="name" id="name" placeholder="Name">
      <input class="form-control" type="text" name="email" id="email" placeholder="E-Mail">
      <input class="form-control" type="password" name="password" id="password" placeholder="Password">
      <input class="btn" type="submit" value="Register">
    </div>
  </form>
  {% endif %}
  {% endif %}
{% endblock %}
