{% extends 'profiles/header.html' %}
{% block content %}
  {% for title in thread %}
  <script>
  function empty() {
    if(document.getElementById("new_comment").value == "") {
      alert("Don't go around posting nothing. That's rude.");
      return false;
    }
  }
  </script>
  <div class="post-container">
    <div class="panel panel-default" id="post">
      <div class="panel-heading" id="xd">
        <h3 class="panel-title">{{title}} - <a href="/members/{{title.author}}">{{title.author}}</a></h3>
      </div>
      <div class="panel-body">
        <p style="padding:5px;">{{title.body_text}}</p>
        {% if title.img %}
        <a href="{{title.img}}">
          <img style="max-width:100%; float: left; margin:10px;" class="grow" src="{{title.img}}">
        </a>
        {% endif %}
        {% if title.log_text %}
          <pre>{{title.log_text}}</pre>
        {% endif %}
        <hr>
        <div class="postbit">
          <iframe src="/data/avatar/{{title.author}}" name="avi" width="64" marginwidth="0" height="64" marginheight="0" align="top" scrolling="No"
           frameborder="0" hspace="0" vspace="0">Browser not compatible. </iframe>
           <h4>{{title.author}}</h4>
           <p>Posts:{{title.author.count}}</p>
           <p>Joined:{{title.author.created_at|date:'n/j/y'}}</p>
         </div>
      </div>
    </div>
    {% endfor %}
    {% if name.is_authenticated %}
    <form action="/board/threads/{{p_comment.title_text}}/" method="POST">
      {% csrf_token %}
      <textarea class="form-control" name="new_comment" id="new_comment" rows="4" cols="8"></textarea>
      <input class="btn" onClick="return empty()" type="submit" value="Comment">
    </form>
    {% endif %}

    {% for comment in comments %}
    <div class="panel panel-default">
      <div class="panel-heading"><a href="/board/members/{{comment.author}}">{{comment.author}}</a></div>
      <iframe src="/data/avatar/{{comment.author}}" name="avi" width="64" marginwidth="0" height="64" marginheight="0" align="top" scrolling="No" frameborder="0" hspace="0" vspace="0">Browser not compatible. </iframe>
      {{comment}}
    </div>
  {% endfor %}
  </div>
{% endblock %}
